.section {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 70px;
  border: 2px solid gray;
  bottom: 0;
  position: absolute;
  left: 0;
  border-radius: 15px;
  background-color: darkgray;
}
.part {
  flex: 1;
  border-left: 2px solid gray;
  text-align: center;
}
.part:first-child {
  border-left: none;
}
